/* @theme magland-theme */

@import 'default';

section {
    background: white;
    padding-left:40px;
    display: block;
}

h1 {
    font-size: 1.6em;
    color: #F6862D; /* This is CCM color */
    padding-top: 5cqmax;
}

h2 {
    color: #AA5;
    font-size: 1.4em;
    color: #F6862D; /* This is CCM color */
    padding-top: 25px;
    padding-bottom: 15px;
}

p {
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-top: 0px;
}

li {
    font-size: 0.9em;
    margin-bottom: -3px;
    margin-top: -3px;
    padding-bottom: 0px;
    padding-top: 0px;
}